<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MetaAppID</key>
	<string>1478732240498443</string>
	<key>ClientToken</key>
	<string>AR|1478732240498443|b6a741403ba34a93ff4959471a58de18</string>
	<key>TeamID</key>
	<string>$(DEVELOPMENT_TEAM)</string>
</dict>
</plist>
